body {
    background-color: #13131A;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

/*navbar css*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    color: white;
    overflow: hidden;
    margin: 5px;
    font-weight: bold;
}

.app_name {
    font-size: 1.3rem;
    margin-left: 1rem;
}

.items {
    display: flex;
    text-decoration: none;
}

select {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}

select option {
    background-color: transparent;
    color: white;
    border: none;
}

.items a {
    text-decoration: none;
    margin-right: 2rem;
    color: white;
}

.items a:hover {
    font-size: 1rem;
    transition: all 0.4s 0s linear;
    transform: scale(1.20);
    border-bottom: 2px solid rgb(245, 197, 41);
}

@media (max-width: 768px) {
    header {
        padding: 10px 0;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav li {
        margin: 10px 0;
    }

}

/*category section*/
#food {
    padding-top: 2rem;
}

#heading {
    text-align: center;
    margin: auto;
    font-weight: 500;
    color: #fff;
    font-size: 3rem;
    width: 20rem;
    margin-bottom: 40px;

}

#heading:hover {
    transition: all 0.4s 0s linear;
    transform: scale(1.2);
    border-bottom: 2px solid rgb(245, 197, 41);
    cursor: pointer;
}

.food-container {
    display: flex;
    justify-content: space-between;
}

.food-container img {
    display: block;
    width: 25rem;
    margin: auto;
    height: 25rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.img-container {
    margin: 0 1rem;
    position: relative;
}

.img-content {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 2;
    text-align: center;
    transition: all 0.4s ease-in-out 0.1s;
}

.img-content h3 {
    color: #fff;
    font-size: 2.2rem;
}

.img-content a {
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;
}

.img-content button {
    background-color: rgb(245, 197, 41);
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 3px;
}

.img-content button:hover {
    background-color: rgb(246, 212, 100);
}

.img-container::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 0;
    width: 25rem;
    height: 25rem;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    z-index: 1;
    transform: scaleY(0);
    transform-origin: 25rem 25rem;
    transition: all 0.3s ease-in-out;
}

.img-container:hover::after {
    transform: scaleY(1);
    opacity: 1;
}

.img-container:hover .img-content {
    opacity: 1;
    top: 40%;
}

@media (max-width:530px) {
    #heading {
        font-size: 2.5rem;
        width: 18rem;
    }

    .food-container {
        display: block;
        justify-content: center;
        align-items: center;
    }

    .food-container img {
        width: 20rem;
        height: 20rem;
        margin-bottom: 2rem;

    }

    .img-container {
        position: relative;
    }

    .img-container::after {
        width: 20rem;
        height: 20rem;
        left: 8px;
        right: 8px;

    }
}

/*menu section*/

/*veg box*/
#food-menu {
    padding: 3rem 0;
}


.food-menu-container {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem;
    padding: 50px 0px 30px 0px;
}

.food-menu-container img {
    display: block;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.food-menu-container img:hover {
    transition: all 0.5s 0.1s ease-out;
    transform: scale(1.090);
    cursor: pointer;
}


.food-menu-item {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 600px;
    justify-content: space-evenly;
    margin-bottom: 5rem;
}

.food-description {
    margin: auto 1.5rem;
    text-align: center;
}

.food-description p {
    width: 70%;
    margin: auto;
    padding: 5px;
}

.food-title {
    font-size: 1.8rem;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
}

.food-description p {
    font-size: 1rem;
    color: #9f9898;
    font-weight: 600;
}

.food-description .food-price {
    font-size: 20px;
    color: rgb(245, 197, 41);
    font-weight: 700;
}

.orderbtn button {
    width: 150px;
    margin: 5px;
    padding: 5px;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 3px;
    background-color: rgb(245, 197, 41);
}

.orderbtn button:hover {
    background-color: rgb(246, 212, 100);
}

.orderbtn button a {
    text-decoration: none;
    color: #fff;
}

@media(max-width:530px) {
    .food-menu h2 {
        font-size: 1.5rem;
        width: 20rem;
    }

    .food-title {
        font-size: 1.3rem;

    }
}