* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #13131A;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;

}

/*address section*/
#topbar {
    margin: 0%;
    padding: 0%;
}

.topbar-container {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-between;
    color: #FFF;
    background-color: rgb(245, 197, 41);
}

.topbar-item {
    display: flex;
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
}

.icon {
    margin-right: 5px;

}


/*navbar css*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    overflow: hidden;
    margin: 5px;
    font-weight: bold;
}

.app_name {
    font-size: 1.3rem;
    margin-left: 1rem;
}

.items {
    display: flex;
    text-decoration: none;
}

.user {
    margin-left: 5rem;
    cursor: pointer;
}

.items a {
    text-decoration: none;
    margin-right: 2rem;
    color: rgb(205, 203, 203);
}

.items a:hover {
    font-size: 1rem;
    transition: all 0.4s 0s linear;
    transform: scale(1.20);
    color: #fff;
    border-bottom: 2px solid rgb(245, 197, 41);
}

/* Style the menu bar (initially hidden on large screens) */
.menu-bar {
    display: none;
    cursor: pointer;
}


@media screen and (max-width: 768px) {
    .app_name {
        margin-left: 0.5rem;
    }

    .menu-bar {
        display: block;
        margin-right: 1rem;
        /* Show the menu bar */
    }

    .items {
        display: none;
        /* Hide the navigation links */
        flex-direction: column;
        position: absolute;
        gap: 10px;
        top: 90px;
        left: 0;
        z-index: 10;
        background-color: black;
        color: #c0bcbc;
        width: 100%;
        padding: 20px;
    }

    .items a {
        width: 80px;
    }

    .items a:hover {
        transition: all 0.4s 0s linear;
        transform: scale(1.05);
    }

    .items.active {
        display: flex;
        /* Show the navigation links when active */
    }

    .btn {
        margin-right: 0.5rem;
    }

    .user {
        margin-left: 0.1rem;
        font-size: 1.3rem;
    }

    .hamburger.active .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .hamburger.active .line2 {
        opacity: 0;
    }

    .hamburger.active .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}


header h1 {
    text-align: center;
    font-size: 2rem;
    width: 270px;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

header h1:hover {
    transition: all 0.4s 0s linear;
    transform: scale(1.1);
    border-bottom: 2px solid rgb(245, 197, 41);
    cursor: pointer;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    color: rgb(189, 192, 191);
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    box-shadow: 1px 1px 7px #cac4c4;
}

@media(max-width: 530px) {
    .container{
        width: 380px;
    }
    #history {
        padding: 8px;
    }
    
}

#customer-info {
    margin-bottom: 30px;
    line-height: 2rem;

}

#customer-info h2 {
    color: #fff;
    margin-bottom: 1.5rem;
}


#history {
    padding: 20px;
}

#history h2 {
    margin-top: 0%;
    text-align: center;
    margin-bottom: 1rem;
    color: #fff;

}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: transparent;
}


/*footer*/

.footer-container {
    background-image: url('./../Assets/login-signup.jpg');
    background-size: cover;
    background-position: center;
    height: auto;
    padding: 1rem;
}

.footer-container h1 {
    margin-left: 2.5rem;
}

.footer {
    height: auto;
    padding: 30px;
    display: flex;
    color: white;
    display: flex;
    flex-wrap: wrap;
}

.links {
    margin: auto;
    width: 280px;
    height: 245px;
}

.links h2 {
    font-size: 20px;
    font-weight: 800;
}

.sub-links {
    width: 200px;
    height: 200px;
}

.sub-links a {
    font-size: 15px;
    font-weight: 700;
    color: rgba(152, 152, 152, 0.979);
    text-decoration: none;
}

.sub-links a:hover {
    color: rgba(220, 218, 218, 0.979);
}

.logo {
    width: 50px;
}

.links-email {
    width: 270px;
    padding: 10px;
    outline: none;
    border: none;
    font-size: 20px;
    border-radius: 5px;
}

.links-email:hover {
    border: 2px solid rgb(245, 197, 41);

}

.subs {
    width: 270px;
    color: #fff;
    padding: 10px;
    border: none;
    font-size: 22px;
    font-weight: 700;
    outline: none;
    border-radius: 5px;
    background-color: rgb(245, 197, 41);
}

.subs:hover {
    background-color: rgb(246, 212, 100);
}

/*Socials*/

.social-menu {
    width: 450px;
    height: auto;
    margin: auto;
    padding: 10px;
}

.social-menu ul {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

.social-menu ul li {
    list-style: none;
    margin: auto auto;
}

.social-menu ul li .fab {
    font-size: 30px;
    line-height: 50px;
    transition: .3px;
    color: #000;
}

.social-menu ul li .fab:hover {
    color: #fff;
}

.social-menu ul li a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .6s;
    box-shadow: 0 0 5px 4px rgba(95, 94, 94, 0.767);
}

.social-menu ul li a:hover {
    transform: translate(0, -10%);
}

.social-menu ul li:nth-child(1) a:hover {
    background-color: rgba(0, 0, 0, 0.829);
}

.social-menu ul li:nth-child(2) a:hover {
    background-color: #0077b5;
}

.social-menu ul li:nth-child(3) a:hover {
    background-color: #e4405f;
}

.social-menu ul li:nth-child(4) a:hover {
    background-color: #002E6E;
}

@media (max-width:530px) {
    .social-menu {
        width: 250px;
        height: auto;
    }

    .social-menu ul {
        margin: auto;
    }

    .social-menu ul li .fab {
        font-size: 20px;
    }

    .social-menu ul li a {
        width: 35px;
        margin-left: 10px;
    }

    .subs {
        width: 200px;
    }

    .links-email {
        width: 200px;

    }

    .footer-container h1 {
        font-size: 18px;
        margin-left: 1.5rem;
    }
}