/*Signup*/
body {
    background-color: #13131A;
    font-family: sans-serif;
}

.container {
    width: 500px;
    margin: 50px auto;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 15px;
    position: relative;
}

.xmark {
    position: absolute;
    right: 20px;
    top: 20px;
    font-weight: bold;
    font-size: large;
    cursor: pointer;
    color: #fff;
}

#registrationForm {
    margin: auto;
}

h1 {
    text-align: center;
    color: #fff;
    margin: 0%;
}

p {
    text-align: center;
    color: #cac4c4;
}

form {
    width: 80%;
}

label {
    display: block;
    margin-top: 15px;
    color: #cac4c4;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    transition: border-color 0.3s ease-in-out;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: rgb(245, 197, 41);
    outline: none;
}

.error {
    color: red;
    font-size: 12px;
    display: block;
    margin-top: 5px;
}

.success {
    color: green;
    font-size: 12px;
    display: block;
    margin-top: 5px;
}

button[type="submit"] {
    display: block;
    width: 80%;
    margin: auto;
    padding: 10px;
    background-color: rgb(245, 197, 41);
    border: none;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button[type="submit"]:hover {
    background-color: rgb(246, 212, 100);
}

button a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.form-check-label {
    margin-bottom: 10px;
}

.already a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}
.already a:hover{
    transition: all 0s 0.1s linear;
    transform: scale(1.20);
    border-bottom: 3px solid rgb(245, 197, 41);
}
@media (max-width: 500px) {
    .container {
        width: 300px;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"] {
        width: 90%;
    }

    button[type="submit"] {
        width: 60%;
    }
    p{
        font-size: 15px;
    }
    .form-check-label {
        font-size: 15px;
    }
}